.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* #c2d6ff */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 6rem;
  padding: 1rem;
  justify-content: center;
}

.poster {
  padding: 1rem;
  background-color: white;
  color: #d6724d;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  transform: skewX(10deg);
  margin: 1rem auto;
  font-weight: 700;
}

.congratMassage {
  font-size: 2.6rem;
  color: #63e859;
  font-weight: lighter;
  font-family: revert;
}
.progresBar{
  height: 0.3rem;
  background-image: linear-gradient(253deg, #33c926, transparent);
  background-color: #534ddf;
  border-radius: 2.2rem;
  transition: 1s;
}

.d-flex{
  width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}